---
import { getEntry, render } from "astro:content";
import Main from "../layouts/MainLayout.astro";

const aboutPost = await getEntry("specs", "tienda");
const { Content } = await render(aboutPost!);

let productos = [];
try {
  const response = await fetch("/api/products"); // Ahora usa la API interna
  const data = await response.json();
  if (!data.error) productos = data;
} catch (error) {
  console.error("Error al obtener productos:", error);
}
---

<Main title="Tienda" subTitle="Productos disponibles">
  <h1>Lista de Productos</h1>
  <ul class="product-list">
    {
      productos.map(
        (producto: {
          images: { src: string }[];
          name: string;
          price: number;
        }) => (
          <li class="product-card">
            <img src={producto.images[0]?.src} alt={producto.name} />
            <h2>{producto.name}</h2>
            <p class="price">{producto.price} €</p>
          </li>
        ),
      )
    }
  </ul>
</Main>
